
/*Basic CSS properties*/
html,
body {
 	height:100%;
 	margin: 0;
 	background-color: #fff;
 	color: #000;
 	font-family: 'Poppins', sans-serif;
 	font-weight: 400;
 	font-size: 14px;
 	line-height: 23px;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	line-height: 75px;
	color: #fff;
	margin: 0;
}

h2 {
	font-family:'Abril Fatface', sans-serif;
	font-size: 48px;
}

h3 {
	font-family:'Poppins', sans-serif;
	font-size: 18px;
	font-weight:700;
}

p {
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

li {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

/*CSS properties for the site container, navigation*/
.navbar {
	margin-left:-15px;
}

.site-container {
	width: 100%;
	margin: 0;
}

.container-fluid {
	float: right;
	margin: 0;
}

.sidebar {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 10;
	width:85px;
	height: 100%;
}

.sidebar ul li.active {
	border-left: 2px solid #000;
}

/*Styling for first row*/
.landing {
	display: flex;
	align-items: center;
	background-image: url("../images/landing-bear.png");
	z-index: 10;
	height:100vh;
	margin: 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.heading {
	width: 300px;
	align-items: center;
	float: right;
	padding: 0;
}

.glasses-animation {
	overflow-x: hidden;
	float: right;
	margin: -200px -15px 0 100px;
}

.scroll {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: center;
	color: #FFF;
}

/*Styling for second row*/
.bearfacts {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.bearimage {
	background-image: url("../images/placebear.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
	position: relative;
}

.content {
	background-color: #FFF;
	padding-top:15px;
}

.content.facts {
	margin: 140px 0 30px -60px;
}

.prints-animation {
	align-self: flex-end;
	overflow-x:hidden;
	margin: 0 0 30px 0;
}

/*Elements used through out the rows*/
.dash {
	width: 30px;
	height: 2px;
	background: #000;
}

.dash.white {
	background: #FFF;
}

.bold {
	font-weight: 700;
	margin-right:10px;
}

.copy {
	background-color: #fff;
	z-index:1;
}

/*Styling for third row*/
#map {
	width: 100%;
	height: 100vh;
	z-index:0;
	position: absolute;
}

.location {
	display: flex;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.content.nobg {
	background-color: transparent;
}

/*Styling for the fourth row*/
.behavior-and-diet {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.hive-animation {
	z-index:0;
	position: absolute;
	right:15px;
}

.content.behavior {
	z-index: 1;
}

.bearimage2 {
	background-image: url("../images/bear-hive.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 496px;
	position: relative;
}

/*Styling for the fifth row*/
.reproduction {
	display: flex;
	align-items: flex-end;
	height: 100vh;
	background-color: #FFF;
	position: relative;	
	background-image: linear-gradient(133deg, rgba(0,0,0,0.00) 35%, #000000 100%), url("../images/bearcub.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #FFF;
}

.content.cubs {
	margin-bottom: 60px;
	background-color: transparent;
}

/*Styling for last, sixth row*/
.conservation {
	display:flex;
	background-color: #FFF;
	position: relative;
	z-index: 0;
}

.outline-animation {
	z-index:1;
	position: absolute; 
}

.andesimage {
	background-image: url("../images/andes.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
}

/*Mobile Header*/

#top-nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
  	position: fixed;
  	z-index: 10;
  	top: 0;
  	left: 0;
  	background-color: #FFF;
  	border-bottom: 1px solid #666;
  	padding-top: 15px;
}

#menu {
	margin-left:15px;
}

.mobile-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
	float: right;
	margin-right: 15px;
}

#top-nav > ul {
  position: relative;
  display: block;
  list-style: none;
  padding-left: 30px;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#top-nav.open > ul{
	background: #FFF;
	border-bottom: 1px solid #666;
  	visibility: visible;
  	opacity: 1;
  	left: 0;
  	padding: 30px 0 0 15px;
}

#top-nav a{
	color: #000;
}

#top-nav a:hover{
	text-decoration: none;
}

/*Responsive and adpative*/

@media (max-width: 767px) {
	body {
		width:100%;
		overflow-x: hidden;
	}
}

@media (max-width:895px){
	h2 {
		font-size: 30px;
	}
	.bearimage2 {
		width: 350px;
	}
}

@media (min-width: 768px) {
	#top-nav {
		display: none;
	}
}

@media (width: 375px) {
	#top-nav {
		width: 375px;
	}
}

@media (width: 360px) {
	#top-nav {
		width: 360px;
	}
}

@media (width: 320px) {
	#top-nav {
		width: 320px;
	}
}

@media (max-width: 767px) {

	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 24px;
		line-height: 32px;
		margin-top: 5px;
	}

	h3 {
		font-size: 16px;
	}

	.landing {
		background-image: linear-gradient(-180deg, #000000 0%, rgba(216,216,216,0.00) 67%), url("../images/landing-md.png");
		background-size: cover;
		background-position: center;
		display: flex;
		flex-wrap: wrap;
	}

	.heading {
		text-align: center;
		width: 100%;
		margin-top: -160px;
	}

	.glasses-animation {
		margin: 0 auto;
		width: 100%;
		margin-top: -260px;
	}

	#glasses {
		width: 100%;
	}

	.bearfacts {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: auto;
		margin-bottom: 60px;
	}

	.bearimage {
	background-image: url("../images/placebear-md.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 320px;
	position: relative;
	}	
 	
	.prints-animation {
		margin:0 auto;
		margin-left: 120px;
	}

	#prints {
		width: 50%;
	}

 	.content.facts {
 		margin: 0 auto;
 	}

 	.sidebar {
  		display: none;
  	}

  	#map {
		width: 100%;
		height: 100vh;
		position: absolute;
	}

	.content.nobg {
		z-index: 1;
		width: 50%;
	}

	.behavior-and-diet{
		display:flex;
		flex-wrap: wrap;
		margin-bottom: 380px;
	}

	.bearimage2 {
		background-image: url("../images/hive-md.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 320px;
		position: relative;
	}

	.hive-animation {
		align-self: flex-end;
		position: relative;
		margin: 0 auto;
		margin-top: 10px;
	}

	#hive {
		width: 100%;
	}

	.reproduction {
		margin-top: 30px;
		background-image: linear-gradient(0deg, #000000 0%, rgba(216,216,216,0.00) 51%), url("../images/bearcub.png");
		background-attachment: scroll;
		background-position: bottom;
		color: #FFF;
	}

	.conservation {
		display: flex;
		flex-wrap:wrap;
		height: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.andesimage {
	background-image: url("../images/andes-md.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 320px;
	}	

	.outline-animation{
		padding:0;
		position: relative;
	}

	#outline {
		width:50%;
		margin-left: 25%;
	}
  
  	#top-nav {
  		display: block;
  	}


 /*Flexbox display*/
  .bearimage2 		 { order: 1; }
  .content.behavior  { order: 2; } 
  .hive-animation    { order: 3; }
  .andesimage		 { order: 4; }
  .content 			 { order: 5; }
  .outline-animation { order: 6; }
  .prints-animation{ order: 7; }
}
