html,
body {
 	height:100%;
 	margin: 0;
 	background-color: #fff;
 	color: #000;
 	font-family: 'Poppins', sans-serif;
 	font-weight: 400;
 	font-size: 14px;
 	line-height: 23px;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	line-height: 75px;
	color: #fff;
	margin: 0;
}

h2 {
	font-family:'Abril Fatface', sans-serif;
	font-size: 48px;
}

h3 {
	font-family:'Poppins', sans-serif;
	font-size: 18px;
	font-weight:700;
}

p {
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

li {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.navbar {
	margin-left:-15px;
}

.site-container {
	width: 100%;
	margin: 0;
}

.container-fluid {
	float: right;
	margin: 0;
}

.sidebar {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 10;
	width:85px;
	height: 100%;
}

.sidebar ul li.active {
	border-left: 2px solid #000;
}

.landing {
	display: flex;
	align-items: center;
	background-image: url("../images/landing-bear.png");
	z-index: 10;
	height:100vh;
	margin: 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.heading {
	width: 300px;
	align-items: center;
	float: right;
	padding: 0;
}

.glasses-animation {
	overflow-x: hidden;
	float: right;
	margin: -200px -15px 0 100px;
}

.scroll {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: center;
	color: #FFF;
}

.bearfacts {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.bearimage {
	background-image: url("../images/placebear.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
	position: relative;
}

.content {
	background-color: #FFF;
	padding-top:15px;
}

.content.facts {
	margin: 140px 0 30px -60px;
}

.prints-animation {
	align-self: flex-end;
	overflow-x:hidden;
	margin: 0 -15px 30px 0;
}

.dash {
	width: 30px;
	height: 2px;
	background: #000;
}

.dash.white {
	background: #FFF;
}

.bold {
	font-weight: 700;
	margin-right:10px;
}

.copy {
	background-color: #fff;
	z-index:1;
}

#map {
	width: 100vw;
	height: 100vh;
	z-index:0;
	position: absolute;
}

.location {
	display: flex;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.content.nobg {
	background-color: transparent;
}

.behavior-and-diet {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: #FFF;
	position: relative;
}

.hive-animation {
	z-index:0;
	position: absolute;
	right:15px;
}

.content.behavior {
	z-index: 1;
}

.reproduction {
	display: flex;
	align-items: flex-end;
	height: 100vh;
	background-color: #FFF;
	position: relative;	
	background-image: linear-gradient(133deg, rgba(0,0,0,0.00) 35%, #000000 100%), url("../images/bearcub.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #FFF;
}

.content.cubs {
	margin-bottom: 60px;
	background-color: transparent;
}

.conservation {
	display:flex;
	background-color: #FFF;
	position: relative;
	z-index: 0;
}

.outline-animation {
	z-index:1;
	position: absolute; 
}

.andesimage {
	background-image: url("../images/andes.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
}

/*Responsive and adaptive  changes for mobile devices*/

#top-nav {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
  	position: fixed; /* Stay in place */
  	z-index: 10; /* Stay on top */
  	top: 0;
  	left: 0;
  	background-color: #FFF; /* Black*/
  	border-bottom: 1px solid #666;
  	/*overflow-x: hidden; Disable horizontal scroll */
  	padding-top: 15px; /* Place content 60px from the top */
  /*transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#menu {
	margin-left:15px;
}

.mobile-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
	float: right;
	margin-right: 15px;
}

#top-nav > ul {
  position: relative;
  display: block;
  list-style: none;
  padding-left: 30px;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#top-nav.open > ul{
	background: #FFF;
	border-bottom: 1px solid #666;
  	visibility: visible;
  	opacity: 1;
  	left: 0;
  	padding: 30px 0 0 15px;
}

#top-nav a{
	color: #000;
}

#top-nav a:hover{
	text-decoration: none;
}

@media (max-width:895px){
	.shape {
		width: 350px;
	}
}

@media (min-width: 768px) {
	#top-nav {
		display: none;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 24px;
		line-height: 32px;
		margin-top: 5px;
	}

	h3 {
		font-size: 16px;
	}

	.landing {
		background-image: linear-gradient(-180deg, #000000 0%, rgba(216,216,216,0.00) 67%), url("../images/landing-md.png");
		background-size: fill;
		display: flex;
		flex-wrap: wrap;
		vertical-align: center;
	}

	.heading {
		text-align: center;
		width: 100%;
		margin-top: -160px;
	}

	.glasses-animation {
		margin: 0 auto;
		width: 75%;
		overflow-x: visible;
		margin-top: -430px;
	}

	#glasses {
		width: 150%;
		padding-right: 140px;
	}

	.bearfacts {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: auto;
		margin-bottom: 140px;
	}

	.bearimage {
	background-image: url("../images/placebear-md.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 320px;
	margin: 0 -15px 0 0;
	position: relative;
	}	
 	
	.prints-animation {
		position: absolute;
		right:0;
		bottom: -120px;
	}

 	.content.facts {
 		margin: 0 auto;
 	}

 	.sidebar {
  		display: none;
  	}

  	.location {
  		display: flex;
  		flex-direction: column;
  		flex-wrap: wrap;
  		height: auto;
  		margin-bottom: 140px;
  	}

  	#map {
		width: 100vw;
		height: 320px;
		z-index:1;
		position: absolute;
	}

	.content.nobg {
		z-index: 1;
		margin-top: 320px;
	}
  
  	#top-nav {
  		display: block;
  	}
}

